.header {
  display: flex;
  justify-content: space-between;
}


.footer {
  display: flex;
  justify-content: space-between;
}

.content {

}

body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}


.container {
  max-width: 1280px;
  border: 1px solid red;
  margin: 0 auto;
}

.container_type_regular {
  padding: 0 48px;
}

@media (max-width: 1023px) {
  .container_type_regular {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {
  .container_type_regular {
    padding: 0 16px;
  }
}
